.container {
	position: relative;
	display: block;
}
.cover {
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: none;
}

.container.disableCheckbox .cover {
	display: block;
}
